{% extends 'layout.html.twig' %}

{% block title %}Авторизация - Планировщик задач{% endblock title %}

{% block body %}
	<div class="col-sm-4 wrapper">
		<div class="auth-form">
			<h2 class="text-center">Авторизация</h2>
			<hr>
		
			<form method="post">
				{% if error %}
					<div class="alert alert-danger alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Ошибка!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
					</div>
				{% endif %}
				
				<div class="form-group col-md-12">
					<label for="email">E-mail:</label>
					<input type="email" id="email" value="{{ last_username }}" class="form-control" name="email" placeholder="Введите email" required autofocus />
				</div>
				<div class="form-group col-md-12">
					<label for="password">Пароль:</label>
					<input type="password" id="password" class="form-control" name="password" placeholder="Введите пароль" required />
				</div>
				<div class="form-group col-md-12">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<button type="submit" class="btn btn-success form-control">Войти</button>
				</div>
				<div class="text-center form-group">
					Нет учетной записи? <span><a href="{{ path('registration_index') }}">Зарегистрироваться</a></span>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
