{% extends 'layout.html.twig' %}

{% block title %}Планировщик задач{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block body %}
11
	<div id="app">	
		<home></home>
	</div>
{% endblock body %}
	
{% block javascripts %}
    {{ parent() }}
	<script src="{{ asset('build/js/vuetimer.js') }}"></script>
{% endblock javascripts %}