{% extends 'layout.html.twig' %}

{% block title %}Регистрация - Планировщик задач{% endblock title %}

{% block body %}
	<div class="col-sm-4 wrapper">
		<div class="auth-form">
			<h2 class="text-center">Регистрация</h2>

			<hr>
			{{ form_start(registrationForm) }}
				<div class="form-group col-md-12">
					{{ form_row(registrationForm.username) }}
				</div>
				<div class="form-group col-md-12">
					{{ form_row(registrationForm.email) }}
				</div>
				<div class="form-group col-md-12">
					{{ form_row(registrationForm.plainPassword) }}
				</div>
				<div class="form-group col-md-12">
					<button class="btn">Зарегистрироваться</button>
				</div>
			{{ form_end(registrationForm) }}
				
			<div class="form-group col-md-12">
				<div class="text-center">
				   Есть учетная запись? <span><a href="{{ path('security_login') }}">Авторизоваться</a></span>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}
