{% extends 'layout.html.twig' %}

{% block title %}Главная - Планировщик задач{% endblock title %}

{% block body %}
	<div class="example-wrapper">
       <div class="jumbotron text-center">
           <h2>Проекты планировщика</h2>
           <div>
               {% if app.user %}
                   <a href="{{ path('home_index') }}" class="btn btn-default">Проекты</a>
               {% else %}
				   <a href="{{ path('connect_google_start') }}">Войти через Google</a><br>
                   <a href="{{ path('security_login') }}" class="btn btn-default">Авторизация</a>
                   <a href="{{ path('registration_index') }}" class="btn btn-default">Регистрация</a>
               {% endif %}
           </div>
       </div>
	</div>
{% endblock %}
