<template>
    <div>
        <div class="row col">
            <h1>Каталог</h1>
        </div>
    </div>
</template>
<script>
	import axios from 'axios'
	export default {
        name: 'home',
		methods: {},
        data() {
            return {}
        }
    }
</script>
<style scoped></style>