<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
		{% block header %}{% endblock %}
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock javascripts %}
    </body>
</html>
