{% extends 'base.html.twig' %}

{% block title %}Планировщик задач{% endblock title %}

{% block stylesheets %}
    <!-- Google Fonts CSS -->
    <link href='http://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
{% endblock stylesheets %}

{% block header %}
	<nav class="navbar navbar-default">
       <div class="container-fluid">
           <div class="navbar-header">
               <a class="navbar-brand" href="{{ path('default_index') }}"> Планировщик Задач </a>
           </div>
           <ul class="nav navbar-nav navbar-right">
               {% if app.user %}
                   <li><a href="{{ path('project_index') }}">Проекты</a></li>
                   <li><a href="{{ path('logout') }}">Выход</a></li>
               {% else %}
                   <li><a href="{{ path('security_login') }}">Авторизация</a></li>
                   <li><a href="{{ path('registration_index') }}">Регистрация</a></li>
               {% endif %}
           </ul>
       </div>
   </nav>
{% endblock header %}

{% block body %}{% endblock body %}

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
    <!-- FontAweSome JS -->
    <script defer="defer" src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
{% endblock javascripts %}